scipy==1.5.2
joblib==1.0.0
pydotplus==2.0.2
pandas==1.1.3
xgboost>=1.5.0
matplotlib==3.3.2
torch==1.4.0
numpy>=1.21.0
category_encoders==2.2.2
scikit-learn
packaging==21.0
jsonschema==3.2.0
scapy==2.4.3
seaborn==0.11.2
wget==3.2
ipython
tqdm
