# This file can be copied to .env in the same directory to customize some of the
# behaviour of the docker-compose.yml file
#
# Note: The variables marked (Required) must be set in your .env file

# Choose from the available stack profiles
#  <empty> or unset         -->   only xilinx-hwserver, smartnic-hw and smartnic-fw
#  smartnic-dpdk            -->   all of the above + smartnic-devbind and smartnic-dpdk
#COMPOSE_PROFILES=
#COMPOSE_PROFILES=smartnic-dpdk

# (Optional) (Recommended)
# Append your username to the compose project name
#  - This helps to avoid collisions in docker object names when multiple users are working on the same system
COMPOSE_PROJECT_NAME=sn-stack-${USER}

# (Optional)
# Set this variable if you want to use a proxy (like harbor) when pulling images from docker hub.
#
# Note: Your proxy may require that you "docker login" before using it
#DOCKERHUB_PROXY=wharf.es.net/dockerhub-proxy/

# (Optional)
# Set this variable if you want to pull the xilinx-labtools-docker images from a registry rather than building locally
#LABTOOLS_REGISTRY=wharf.es.net/ht/

# (Optional)
# Set this variable to select a specific container version for xilinx-labtools
#LABTOOLS_TAG=26631-g691843d7

# (Optional)
# Set this variable if you want to pull the smartnic-dpdk-docker image from a registry rather than building locally
#SMARTNIC_DPDK_REGISTRY=wharf.es.net/ht/

# (Optional)
# Set this variable to select a specific container version for smartnic-dpdk-docker
#SMARTNIC_DPDK_TAG=28728-ga8155293

# (Optional)
# Choose a specific JTAG cable (and thus a specific U280 card) to take control of
# If this is commented out, it will default to "*" which just chooses the first JTAG cable it finds
# which is exactly what you want if you only have a single JTAG cable in your system.
#
#   Discover the address using lsusb
#   $ sudo lsusb -v -d 0403:6011 | grep iSerial
#   iSerial                 3 21770205K01Y
#
# Note: An extra letter "A" must be appended to the serial number to get it to match in vivado labtools
#HW_TARGET_SERIAL=21770205K01YA

# (Optional)
# Choose a specific TCP port for the Xilinx HW Server to listen on.  Default is 3121.
# This option should be used when running multiple stacks on a single host so that
# each stack's HW Server listens on a unique port, avoiding conflict.
#HW_SERVER_PORT=50001

# (Required)
# Used to select PCIe device that the application stack should bind against
#
#   Discover the addresses using lspci
#            $ lspci -Dd 10ee:
#            0000:d8:00.0 Memory controller: Xilinx Corporation Device 903f
#            0000:d8:00.1 Memory controller: Xilinx Corporation Device 913f
#            |  | || || |
#   Domain --++++ || || |
#   Bus ----------++ || |
#   Device ----------++ |
#   Function -----------+
#
# Note: The PCIe function (the ".0" or ".1") is left off of this variable
FPGA_PCIE_DEV=0000:d8:00
